@import "./library.scss";

#create_list_wrapper {

    overflow: hidden;

    form {
        @include shadow-form;

        input {
            width: 70%;
            @include medium-input;
        }

        .new_list_submit {
            @include btn-small;
            width: 120px;
        }

        label {
            @include medium-label;
        }
    }

    #fb_list_wrapper {
        @include shadow-form;
        border: none;
        box-shadow: none;
        padding-top: 0;
        color: white;
        justify-content: start;

        .applicant_pair {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            column-gap: 2rem;

        }

        h1 {
            @include paragraph-large;
            text-align: center;
        }

        p {
            @include paragraph-medium;
        }

        .delete_button {
            @include orange-cancel-button;
        }

    }

    #button_wrapper {
        @include btn-multiple;

        button {
            @include btn-small;
        }
    }
}

@media (max-width: 1023px) {

    #create_list_wrapper {
        form {
            @include mobile-shadow-form;
            text-align: center;
        }

        input {
            width: 100%;
        }

        label {
            width: 80%;
        }
    }

    #fb_list_wrapper {
        @include mobile-shadow-form;
        border: none;
        box-shadow: none;
        padding-top: 0;
    }
}