@import "./library.scss";

#create_list_wrapper {

    overflow: hidden;

    form {
        @include shadow-form;

        input {
            width: 70%;
            @include medium-input;
        }

        .new_list_submit {
            @include btn-small;
            width: 120px;
        }

        label {
            @include medium-label;
        }
    }

    #fb_list_wrapper {
        @include shadow-form;
        background-color: rgba(0, 0, 0, .3);
        height: 30vh;
        overflow-y: scroll;
        overflow-x: hidden;
        border: none;
        box-shadow: none;
        padding-top: 0;
        color: white;
        justify-content: start;

        .table_heading {
            @include paragraph-large;
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 16px;
            border-style: solid;
            border-color: $form-border-color;
            border-width: 1px 0 1px 0 1px;


        .delete_button {
            @include orange-cancel-button;
        }

        th {
            text-align: left;
            padding-bottom: 1rem;
            @include paragraph-medium;
            padding-left: 1rem;
            border-right: 1px solid $form-border-color;
        }

        td {
            text-align: left;
            @include paragraph-small;
            border-right: 1px solid $form-border-color;
            padding: .5rem;
            padding-left: 1rem;
            
        }

        tr {
            border-bottom: 1px solid $form-border-color;
        }

    }

    }

    #button_wrapper {
        @include btn-multiple;

        button {
            @include btn-small;
        }
    }
}

@media (max-width: 1023px) {

    #create_list_wrapper {
        form {
            @include mobile-shadow-form;
            text-align: center;
        }

        input {
            width: 100%;
        }

        label {
            width: 80%;
        }
    }

    #fb_list_wrapper {
        @include mobile-shadow-form;
        border: none;
        box-shadow: none;
        padding-top: 0;
    }
}