@import "./library.scss";

#current_fb_list {
    display: flex;
    flex-direction: column;
    align-content: center; 

    .header {
        @include large-header;
        color: white;
        text-align: center;
    }

    .edit_button {
        @include btn-small;
        margin: auto;
        margin-top: 2rem;
    }

    .cancel_button {
        @include btn-small;
        width: 250px;
        margin: auto;
        margin-top: 2rem;
    }
}
