@import "./library.scss";

#current_fb_list {
    display: flex;
    flex-direction: column;
    align-content: center; 
    overflow: hidden;
    padding-bottom: 6rem;

    

    .edit_button {
        @include btn-small;
        margin: auto;
        margin-top: 2rem;
    }

    .cancel_button {
        @include btn-small;
        width: 250px;
        margin: auto;
        margin-top: 2rem;
    }
}
