@import "library.scss";
#list_wrapper {
    margin: 0;
    padding: 0;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    .list_title {
        margin-top: 4rem;
        margin-bottom: 0;
        @include header-large;
        padding: 0;
    }
    h1 {
        margin-top: 0;
        @include header-large;
        padding: 0;
    }
    form {
        @include table-container;
        margin-top: 4rem;
        .refresh_button {
            @include btn-small;
            @include btn-purple;
            border-radius: 5px;
            font-size: 16px;
        }
        table {
            @include list-table;
            th {
                @include list-table-header;
                border: none;
            }
            td {
                @include list-table-data;
                border: none;
            }
            tr {
                @include list-table-row;
            }
            #attended {
                width: auto;
            }
            a {
                color: $chapel-purple;
            }
            .remove_button {
                @include orange-cancel-button;
            }
            .call_button {
                @include btn-small;
                text-decoration: none;
            }
            .incomplete_data {
                color: $orange;
                &:hover {
                    color: $faded-orange;
                    cursor: pointer;
                }
            }
            .not_present_button {
                @include btn_small;
                border-radius: 16px;
                margin-top: 0;
                min-width: 75px;
                width: 75px;
                @include paragraph-large;
                background-color: $orange;
                &:hover {
                    background-color: $faded-orange;
                }
            }
            .present_button {
                @include btn_small;
                margin-top: 0;
                min-width: 75px;
                width: 75px;
                @include paragraph-large;
            }
            td:last-of-type {
                border-right: none;
            }
            td:nth-last-child(2) {
                border-right: none;
            }
            th:last-of-type {
                border-right: none;
            }
            tr:last-of-type {
                border-bottom: none;
            }
            .no_border {
                border-bottom: none;
            }
        }
    }
}

@media (max-width: 1024px) {
    #list_wrapper {
        form {
            width: 95%;
            margin: auto;
            margin-top: 4rem;
            table {
                width: 100%;
                th {
                    @include paragraph-small;
                    border: none;
                }
                td {
                    @include paragraph-small;
                    border: none;
                }
                #attended {
                    width: 40px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #list_wrapper {
        form {
            table {
                width: 100%;
                .present_button,
                .not_present_button {
                    min-width: unset;
                    width: unset;
                    padding: 0.25rem 1rem 0.25rem 1rem;
                }
                .call_button {
                    border-radius: 16px;
                    min-width: unset;
                    width: unset;
                    margin-top: 2rem;
                    padding: 0.25rem 1rem 0.25rem 1rem;
                    cursor: pointer;
                    @include paragraph-small;
                    color: white;
                    text-decoration: none;
                    background-color: $purple;
                    &:hover {
                        box-shadow: 0 1px 4px $light-gray;
                        filter: brightness(90%);
                    }
                }
            }
        }
    }
}