@import "./library.scss";

#cl_edit_module_wrapper {
   @include shadow-form;
    position: fixed;
    z-index: 10;
    top: 10%;
    left: 50%;
    padding: 4rem 2rem 4rem 2rem;
    transform: translate(-50%, 0);


    #cl_edit_module_questions {

        h3 {
            @include paragraph-large;
            color: $white;
            text-align: center;
        }
    }

    #button_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 2rem;

        button {
            @include btn-small;
            width: 45%;
            ;
        }
    }

}

@media (max-width: 1024px) {
    #cl_edit_module_wrapper {
        @include mobile-shadow-form;
        width: 90%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}