@import "./library.scss";

#edit_delete_wrapper {
    display: flex;
    margin: auto;
    justify-content: center;
    column-gap: 2rem;
    margin-bottom: 2rem;
    button {
        @include btn-small;
    }

    .delete_button {
        @include btn-small;

        &:hover {
            background-color: $orange;
        }
    }
}
