@import "./library.scss";

#hamburg_wrapper {
    position: fixed;
    right: 1rem;
    border-width: .25rem;
    border-style: solid;
    border-color: white;
    height: 50px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: $chapel-gray;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
        background-color: $orange;
    }
}

.hamburger_line {
    width: 2rem;
    height: .25rem;
    background-color: white;
    margin-top: 3px;
    margin-bottom: 3px;
}

@media screen and (min-width: 1023px) {
    #hamburger_wrapper {
    display: none;
    }
}