@import "./library.scss";

#login_container {
    background-color: $chapel-gray;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
    padding: 0;
    bottom: 0;

    form {
        display: flex;
        flex-direction: column;
        width: 40vw;
        padding: 2rem 8rem 2rem 8rem;
        margin: auto;
        background-color: $chapel-gray;
        justify-content: center;
        border-radius: 16px;
        box-shadow: 0px 8px 80px rgba(151, 37, 191, .5);
        max-width: 560px;

        label {
            @include medium-label;
        }

        input {
            @include medium-input;
        }

        .submit_button {
            @include btn-small;
        }
    }

    #login_submit {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1023px) {
    #login_container {
        form {
            width: 100vw;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }

        input {
            width: 100%;
            margin: auto;
        }

        .submit_button {
            @include btn-small;
            width: 150px;
        }
    }
}