@import "./library.scss";

#new_applicant_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;

    .shadow_form {
        @include shadow-form;
        margin-top: 6rem;
        margin-bottom: 6rem;
        align-items: center;
    }

    .heading_wrapper {
        @include large-header;
    }

    .section_heading {
        padding-top: .5rem;
        padding-bottom: .5rem;
        text-align: center;
        border-style: solid;
        border-color: white;
        border-radius: 14px;
        border-width: .15rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
        width: 100%;
        @include paragraph-medium;
    }

    input {
        width: 100%;
        @include medium-input;
    }

    .input_pair {
        @include medium-label;
        margin-top: .5rem;
        width: 100%;
    }

    #new_applicant_submit {
        @include btn-small;
        width: 120px;
    }
}


@media (max-width: 1023px) {
    #new_applicant_wrapper {
        .shadow_form {
            width: 100vw;
            padding-left: 1rem; 
            padding-left: .25rem;
            padding-right: .25rem;
        }

        .input_pair {
            width: 80%;
        }

        .section_heading {
            width: 80%;
        }
    }
}