@import "./library.scss";

#new_applicant_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;

    .heading_wrapper {
        @include large-header;
    }

    .section_heading {
        padding: .5rem 4rem .5rem .5rem;
        text-align: left;
        border-style: solid;
        border-color: white;
        border-radius: 14px;
        border-width: .15rem;
        margin-top: 2rem;
    }

    #new_applicant_submit {
        background-color: #9725bf;
        color: white;
        padding: .25rem 4rem;
        border-radius: 16px;
        border-style: none;
        border-color: none;
        font-size: 18px;
        margin-left: 7.5vw;
        margin-top: 2rem;

        &:hover {
            background-color: #751d94;
            border-color: #6b1a87;
        }
    }

    form {
        margin: 2rem auto auto auto;

        label{
            margin-bottom: .15rem;
        }

        input {
            margin-bottom: 1rem;
        }

        .new_applicant_input {
            width: 30vw;
        }

    }
}