@import "./library.scss";

#past_lists-wrapper {
    .header_wrapper {
        @include large-header;
        color: white;
    }

    #display_list {
        @include table-container;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 2rem;
        padding-bottom: 6rem;

        table {
            @include list-table;
            color: white;

            #table_heading {
                text-align: center;
            }

            th {
                @include list-table-header;
            }

            td {
                @include list-table-data;
            }

            tr {
                @include list-table-row;
            }

            .phone_link {
                @include btn-small;
                text-decoration: none;
            }

            .positive_symbol {
                @include paragraph-large;
                padding: .25rem 2rem;
                background-color: $chapel-purple;
                text-align: center;
            }

            .negative_symbol {
                @include paragraph-large;
                padding: .25rem 2rem;
                background-color: $orange;
                text-align: center;
            }
        }


    }
    #delete_table_button {
        @include btn-small;
        width: 150px;
        margin: auto;
    }
}
