@import "./library.scss";

#past_lists-wrapper {
    .header_wrapper {
        @include large-header;
        color: white;
    }

    #delete_table_button {
        @include btn-small;
        width: 150px;
        margin: auto;
    }
}