@import './library.scss';

#printed_form_wrapper {
    background-color: white;
    color: black;
    max-width: 816px;
    margin: auto;
    font-family: arial;
    
    h1 {
        @include paragraph-small;
    }

    #logo_individuals_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;

        #person_count_wrapper {
            position: absolute;
            right: 430px;
            font-size: 12px;
        }

        #pa_logo {
            width: 245px;
            height: 100px;
        }
    }

    #person_count_wrapper {
        display: flex; 
        flex-direction: row;

        #title_wrapper {
            display: flex;
            flex-direction: column;
            
        }
    }

    #fields{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2px;
        padding-left: 95px;
        padding-right: 95px;

    }


  

    #top_heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -10px;
        
        h2 {
            font-size: 14px;
            font-weight: 700;
        }

        h4 {
            margin-top: 4px;
            font-size: 10px;
        }

        h3 {
            font-family: 'Times New Roman', Times, serif;
            font-weight: 300;
            margin-top: 0;
            font-size: 12px;
        }

        .tefap_text {
            margin-top: 8px;
            line-height: 0;
            padding-top: 0;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .paragraph_wrapper {
        padding-left: 95px;
        padding-right: 95px;
        font-size: 12px;
    }

    #house_hold_income_wrapper {
        margin-left: 95px;
        margin-right: 95px;
        font-size: 10px;
        font-weight: 600;
        border: solid 1px;
    }
    
}