@import "./library.scss";

body {
    margin: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-image: $background-radial;
    overflow-x: hidden;
}

#root {
    margin: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

#header_wrapper {
    @include large-header;
    padding-right: 2rem;
    padding-left: 2rem;
  
  }