@import "./library.scss";

#applicantSearch {
    @include shadow-form;
    padding-top: 4rem;
    padding-bottom: 4rem;

    label {
        @include medium-section-heading;
        margin-top: 0;
        margin-bottom: 1rem;
        color: white;
    }

    select {
        @include medium-input;
        margin-top: 1rem;
        width: 70%;
    }

    #applicantSearchSubmit {
        @include btn-small;
        width: 150px;
    }
}


@media (max-width: 1023px) {
    #applicantSearch {
        @include mobile-shadow-form;

        label {
            width: 80%;
        }

        select {
            width: 80%;
        }
    }
}