@import "./library.scss";

#applicantSearch {
    @include shadow-form;

    label {
        @include medium-section-heading;
        margin-top: 0;
        color: white;
    }

    input {
        @include medium-input;
        margin-top: 2rem;
    }

    select {
        @include medium-input;
        margin-top: .25rem;
        width: 70%;
    }

    #applicantSearchSubmit {
        @include btn-small;
        width: 150px;
    }
}

@media (max-width: 1023px) {
    #applicantSearch {
        @include mobile-shadow-form;

        label {
            width: 80%;
        }
        select {
            width: 80%;
        }
    }
}