@import "./library.scss";

#search_applicant_wrapper {
    color: white;
    overflow: hidden;
    text-align: center;
   
    h1 {
        @include large-header;
        color: white;
    }

    #choose_applicant_type {
        width: 300px;
        @include paragraph-medium;
        padding: .05rem;

        &:focus {
            outline-color: $orange;
        }
    }
}

#display_applicant_wrapper {
    @include shadow-form;
    justify-content: start;
    align-items: start;
    margin-bottom: 1rem;

    h1 {
        @include header-medium;
        margin: auto;
        margin-top: 2rem;
        padding-bottom: 0;
        width: 100%;
        margin-bottom: .5rem;
    }

    p {
        @include paragraph-small;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 1023px) {
    #display_applicant_wrapper {
        @include mobile-shadow-form;
        
    }
}





