@import "./library.scss";

#search_applicant_wrapper {
    color: white;
    h1 {
        @include large-header;
        color: white;
    }
}

#applicant_search {
    display: flex; 
    flex-direction: column;
    margin: auto;
    color: white;
}