@import './library.scss';

.statistic_card {
    @include dashboard_icon;
    color: white;
    padding: .5rem .5rem 1rem .5rem;
    text-align: center;
    margin: 0;

    .statistic_title {
        @include paragraph-medium;
        margin-top: 0;
    }

    .statistic_data {
        @include paragraph-large;
        font-size: 48px;
        margin-top: .25rem;
        margin-bottom: 0rem;
    }
}